# Node
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Build output, for some reason JetBrains only accepts the ignore here
.nuxt
.python-version