# Node
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
infra/.env
infra/.env.*
!infra/.env.example

# Build output, for some reason JetBrains only accepts the ignore here
.nuxt

docs/*
backend/comparison_results/*
backend/docs/experiments/*
.claude/CLAUDE.md
.gitignore
.cursor/rules/*
backend/db_backup_20260104_125924.sql
backend/vectors.db
backend/artifacts/*